{% extends 'mail/base.html' %}
{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object.subject| title }} </h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ object.message }}</h1>
                    <div class="card-footer">
                        <a href="{% url 'mail:message_update' object.pk %}">
                            <button type="button" class="btn mt-10 btn-outline-info form-control">
                                Изменить
                            </button>
                        </a>

                        <a href="{% url 'mail:message_confirm_delete' object.pk %}">
                            <button type="button" class="btn mt-10 btn-outline-danger form-control">
                                Удалить
                            </button>

                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}